*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.ap_
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
*.iml
*.jks
.externalNativeBuild
gen-external-apklibs
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/misc.xml 
*.ipr
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/build/
.gradle
google-services.json
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
app/release/
encrypted/
keys/

